.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1000;
    background: linear-gradient(90deg,
            transparent 0%,
            #9333ea 20%,
            #a855f7 35%,
            #c084fc 50%,
            #a855f7 65%,
            #9333ea 80%,
            transparent 100%);
    background-size: 200% 100%;
}

.loading-bar.active {
    opacity: 1;
    animation:
        gradient-wave 2s ease-in-out infinite,
        gradient-move 3s linear infinite;
}

@keyframes gradient-wave {
    0% {
        filter: brightness(0.5) blur(0px);
        height: 2px;
    }

    50% {
        filter: brightness(1.2) blur(0.6px);
        height: 3px;
    }

    100% {
        filter: brightness(0.5) blur(0px);
        height: 2px;
    }
}

@keyframes gradient-move {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}